<div class="hours-row" fixed-vertical>
  <div class="hour hour-{{hour}}" ng-repeat="hour in hours">{{ hour }}:00</div>
</div>

<div class="room-column" fixed-horizontal>
  <header ng-repeat="room in rooms">
    <img src="images/loading.gif" ng-hide="slotsOfRoom[room.id]"/>
    <div class="name">{{ room.name }}</div>
    <div class="capacity">{{ room.capacity }} pessoas</div>
  </header>
</div>

<div class="slots">
  <div class="slot-line" ng-repeat="room in rooms">
    <ng-include src="'modules/templates/slot.html'"/>
  </div>
</div>
