<div class="slot {{slot.status}} hour-{{ slot.hour }}"

      ng-click="zoomOnSlot(slot)"
      ng-repeat="slot in slotsOfRoom[room.id]">

  <div class="info">
    <span class="id">{{ slot.id }}</span>
    <span class="room"><b>sala:</b> {{ slot.room.name }}</span>
    <span class="hour"><b>horário:</b> {{ slot.begins | time_locale }}</span>
    <span class="duration"><b>duração</b> {{ slot.duration }}min</span>
    <span class="close" ng-click="resetZoom($event)">&times;</span>
  </div>

  <div ng-show="slot.talk" class="track">
    <label>trilha:</label>
    {{ slot.talk.track }}
  </div>
  <div class="title">
    <label>título:</label>
    <span class="id">
      <a ui-sref="proposals.detail({id: slot.talk.id})" target="blank_">
        {{ slot.talk.id }}
      </a>
    </span>
    <span class="empty"  ng-hide="slot.talk">sem palestra designada</span>
    <span class="filled" ng-show="slot.talk">{{ slot.talk.title }}</span>
  </div>

  <div class="author">
    <label>autor principal:</label>
    <span ng-show="slot.talk">{{ slot.talk.owner }}</span>
  </div>
</div>
