<div class="slot hour-{{ slot.hour }} duration-{{ slot.duration }}"
      ng-class="{zoomed: slot.id == zoomedId}"
      ng-show="slot.talk"
      ng-click="zoomOnSlot(slot)"
      ng-repeat="slot in slotsOfRoom[room.id]">

  <div class="info">
    <span class="room"><b>sala:</b> {{ slot.room.name }}</span>
    <span class="hour"><b>horário:</b> {{ slot.begins | time_locale }}</span>
    <span class="duration"><b>duração</b> {{ slot.duration }}min</span>
    <button class="close" ng-click="resetZoom($event)">&times;</button>
  </div>

  <div ng-show="slot.talk" class="track">
    <label>trilha:</label>
    {{ slot.talk.track }}
  </div>
  <div class="title">
    <label>título:</label>
    <span class="filled" ng-show="slot.talk">{{ slot.talk.title }}</span>
  </div>

  <div class="author">
    <label>autor principal:</label>
    <span>{{ slot.talk.owner }}</span>
  </div>

  <div class="coauthors" ng-show="slot.talk.coauthors.length">
    <label translate translate-n="slot.talk.coauthors.length" translate-plural="co-autores:">co-autor:</label>
    <span ng-repeat="coauthor in slot.talk.coauthors">{{ coauthor }}</span>
</div>
