<article>
  <h1>
    {{ talk.title }}
  </h1>

  <section class="track">
    <header>trilha:</header>
    <div>{{ talk.track }}</div>
  </section>

  <section class="authors">
    <header>autores:</header>
    <div>
      {{ talk.owner.name }}
      <span ng-show="talk.owner.resume">
        <span class="resume-toggle" ng-click="showResume(talk.owner.name)" ng-hide="shownResumes[talk.owner.name]">mostrar currículo</span>
        <span class="resume-toggle" ng-click="hideResume(talk.owner.name)" ng-show="shownResumes[talk.owner.name]">esconder currículo</span>
      </span>
      <div class="resume" ng-show="shownResumes[talk.owner.name]">
        {{ talk.owner.resume }}
      </div>
    </div>
    <div ng-repeat="person in talk.coauthors">
      {{ person.name }}
      <span ng-show="person.resume">
        <span class="resume-toggle" ng-click="showResume(person.name)" ng-hide="shownResumes[person.name]">mostrar currículo</span>
        <span class="resume-toggle" ng-click="hideResume(person.name)" ng-show="shownResumes[person.name]">esconder currículo</span>
      </span>
      <div class="resume" ng-show="shownResumes[person.name]">
        {{ person.resume }}
      </div>
    </div>
  </section>

  <section class="slot" ng-show="talk.slots.length">
    <header ng-show="talk.slots.length == 1">apresentação:</header>
    <header ng-show="talk.slots.length > 1">apresentações:</header>
    <div ng-repeat="slot in talk.slots">
      dia <b>{{ slot.begins | human_day }}</b>
      às <b>{{ slot.begins | human_time }}h</b>
      na sala <b>{{ slot.room_name }}</b>
      ({{ slot.duration }} minutos)
    </div>
  </section>

  <section class="full">
    <header>descrição:</header>
    <div>{{ talk.full }}</div>
  </section>
</article>
