@mixin hide-placeholder {
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
  &::-webkit-input-placeholder { color: white; }
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin box-text {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
