@import 'modules/styles/mixins.scss';

header.schedule {
  div.days {
    text-align: center;
    .day {
      display: inline;

      button {
        font-size: small;
        padding: 0.5rem;
        border: 1px solid gray;
        background: lightgray;

        &.current {
          background: white;
          font-weight: bold;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

$marginTop: 1rem;
$roomsWidth: 8rem;
$hoursHeight: 3rem;
$slotWidth: 10rem;
$slotHeight: 4rem;

main.schedule {
  margin: 0 0px;
  left: 0;
  max-width: initial;
  width: 12*$slotWidth;

  .proposals {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    border: 1px solid red;
    z-index: 30;

    input { width: 98%; }
    .results {
      min-height: 20rem;
    }
  }

  .hours-row {
    margin-top: -$marginTop;
    margin-left: $roomsWidth + 1rem;
    text-align: center;
    background: gray;
    color: white;
    font-weight: bold;
    font-size: x-large;
    z-index: 10;
    .hour {
      outline: 1px solid lightgray;
      float: left;
      width: $slotWidth;
    }

  }

  .room-column {
    padding-left: 0.5rem;
    top: $marginTop;
    border-right: 1px solid black;
    background: white;
    width: $roomsWidth;
    z-index: 10;

    header {
      position: relative;
      height: $slotHeight;
      width: $roomsWidth;
      outline: 1px solid gray;
      background: white;
      img {
        transform: rotate(90deg) translateX(20px);
        float: right;
      }

      .name {
        @include ellipsis;
        margin-left: 5px;
        font-size: xx-large;
        height: 1em;
      }
      .capacity {
        margin-left: 5px;
        font-size: small;
        color: gray;
      }
      .reload {
        margin-left: 5px;
        display: none;
      }

      &:hover {
        width: $roomsWidth * 2;
        .name {
          overflow: initial;
        }
        .reload {
          font-size: small;
          color: blue;
          display: block;
        }
      }
    }
  }
  .slots {
    position: absolute;
    margin-left: $roomsWidth + 1rem;
    top: $marginTop;
    overflow: visible;

    .slot-line {
      position: relative;
      height: $slotHeight;
      .slot {
        width: $slotWidth;
        height: $slotHeight;
        position: absolute;
        outline: 1px solid gray;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-position: bottom right;

        label { display: none; }

        .info, .actions, .status { display: none; }
        .icons {
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 20px;
        }

        .track {
          @include ellipsis;
          padding-left: 3px;
          height: 1.2em;
          width: $slotWidth;
          font-size: small;
          color: gray;
          background: lightgray;
        }
        .title {
          @include box-text;
          padding-left: 3px;
          height: 2.4em;
          width: $slotWidth * 0.9;
          font-size: small;
          color: black;
          .id { display: none; }
        }
        .author {
          @include box-text;
          padding-left: 3px;
          height: 1.1em;
          width: $slotWidth;
          font-size: small;
          color: gray;
        }
      }
      .slot.zoomed {
        border: 2px solid black;
        box-shadow: 3px 3px 3px 3px gray;
        outline: 0px;
        margin-top:  -0.2 * $slotHeight;
        margin-left: -0.5 * $slotHeight;
        width: 3 * $slotWidth;
        height: initial;
        z-index: 100;

        label {
          font-weight: bold;
          display: initial;
        }

        .track, .title, .author, .status {
          display: block;
          padding-left: 3px;
          width: initial;
          color: initial;
          font-size: large;
          white-space: normal;
          height: initial;
        }
        .title .id {
          background: white;
          padding: 0 5px;
          display: initial;
        }

        .info {
          padding: 3px;
          display: block;
          background: #999;
          color: black;
          div { margin-right: 1em; }
          b { color: white; }
          .id { font-size: small; }
          .close { margin-right: 5px; float: right; cursor: hand; }
        }
      }

      .slot.hour-10 { left: 0  * $slotWidth; }
      .slot.hour-10 { left: 1  * $slotWidth; }
      .slot.hour-11 { left: 2  * $slotWidth; }
      .slot.hour-12 { left: 3  * $slotWidth; }
      .slot.hour-13 { left: 4  * $slotWidth; }
      .slot.hour-14 { left: 5  * $slotWidth; }
      .slot.hour-15 { left: 6  * $slotWidth; }
      .slot.hour-16 { left: 7  * $slotWidth; }
      .slot.hour-17 { left: 8  * $slotWidth; }
      .slot.hour-18 { left: 9  * $slotWidth; }
      .slot.hour-19 { left: 10 * $slotWidth; }
    }
  }
}

.ngdialog.ngdialog-theme-default {
  &.dialog-proposal-create,
  &.dialog-proposal-lookup {
    .ngdialog-content {
      width: 77vw;
    }

    header {
      input {
        width: 100%;
        font-size: large;
      }
    }
  }
}
.ngdialog.ngdialog-theme-default.dialog-proposal-lookup {
  .results {
    border-collapse: collapse;

    td {
      border-right: 1px solid black;
      padding-left: 3px;
    }
    td.id     { width: 3vw;  max-width: 3vw;  }
    td.title  { width: 40vw; max-width: 40vw; }
    td.author { width: 20vw; max-width: 20vw; }
    td.status { width: 10vw; max-width: 10vw;  }
    td.action { width: 10vw; max-width: 10vw; border: 0px; }

    tr {
      &.proposal  { color: gray; }
      &.pending   { color: orange; }
      &.confirmed { color: black; }
      &.declined  { color: red; }

      .id { color: gray; font-size: small; }
      .title { @include ellipsis; }
      .author { @include ellipsis; }

    }
  }
}
